<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-light d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h2><i class="fa fa-user-plus"></i> Registro</h2>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/usuarios/registro}" method="post" th:object="${usuario}">
                            <div class="form-group">
                                <label for="nombre"><i class="fa fa-user"></i> Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required />
                            </div>
                            <div class="form-group">
                                <label for="apellido"><i class="fa fa-user"></i> Apellido:</label>
                                <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}" required />
                            </div>
                            <div class="form-group">
                                <label for="apellido"><i class="fa fa-user"></i> Cedula:</label>
                                <input type="text" class="form-control" id="cedula" name="cedula" th:field="*{cedula}" required />
                            </div>
                            <div class="form-group">
                                <label for="correo"><i class="fa fa-envelope"></i> Correo:</label>
                                <input type="text" class="form-control" id="correo" name="correo" th:field="*{correo}" required />
                            </div>
                            <div class="form-group">
                                <label for="contrasena"><i class="fa fa-lock"></i> Contraseña:</label>
                                <input type="password" class="form-control" id="contrasena" name="contrasena" th:field="*{contrasena}" required />
                            </div>
                            <div class="form-group">
							    <label for="rol"><i class="fa fa-user"></i> Rol:</label>
								<select class="form-control" id="rol" name="rolId" required>
								    <option value="" disabled selected>Selecciona un rol</option>
								    <option value="1">Administrador</option>
								    <option value="2">Estudiante</option>
								    <option value="3">Profesor</option>
								</select>
							</div>
							<div class="text-center mt-3">
							    <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> Registrarse</button>
							    <a th:href="@{/usuarios/}" class="ml-2">Volver al inicio de sesión</a>
							</div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
