<div class="container-fluid">

    <br>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Datos Estadisticos</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Ingresos Totales Mensuales Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Ingresos Totales Mensuales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{ reportes[0]?.ingresosTotalesMensuales }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Ingresos Totales Anuales Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Ingresos Totales Anuales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{ reportes[0]?.ingresosTotalesAnuales }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Número de Socios Activos Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Número de Socios Activos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ reportes[0]?.numeroSociosActivosTotales }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total de Aportaciones Realizadas Card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total de Aportaciones Realizadas</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ reportes[0]?.totalAportacionesRealizadas }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comment-dollar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #dfe2e9;">
                    <h6 class="m-0 font-weight-bold text-primary">Aportaciones por meses | año actual</h6>
                </div>
                <hr class="m-0">
                <div class="card-body"
                >
                    <div class="chart-area"  #chartContainer
                    (window:resize)="setViewSize()">
                        <ngx-charts-bar-vertical
                        [view]="view"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [customColors]="customScheme"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [barPadding]="20"
                        [yAxisLabel]="yAxisLabel"
                        ></ngx-charts-bar-vertical>
                    </div>
                    
                </div>
            </div>
        </div>
  
</div>


</div>