<br>
<div style="display: flex; gap: 20px; align-items: center;">
	<h2 style="margin-right: 20px;">Filtro</h2>
  
	<mat-form-field style="margin-right: 20px;">
	  <input matInput [matDatepicker]="pickerInicio" placeholder="Fecha Inicio" [(ngModel)]="fechaInicio">
	  <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
	  <mat-datepicker #pickerInicio></mat-datepicker>
	</mat-form-field>
  
	<mat-form-field style="margin-right: 20px;">
	  <input matInput [matDatepicker]="pickerFin" placeholder="Fecha Fin" [(ngModel)]="fechaFin">
	  <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
	  <mat-datepicker #pickerFin></mat-datepicker>
	</mat-form-field>
  
	<button mat-raised-button color="primary" style="height: auto" (click)="buscarAportacionesPorFecha()">Buscar</button>
  </div>
  
  <br>
  <div class="card">
	<div class="card-body">
	  <div id="cuerpoboleta">
		<h1 style="font-size: 17px; font-weight: 500;"><i class="fas fa-list"></i> Listado de Aportaciones</h1>
		<br>
		<div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
		  <table class="table table-striped">
			<thead style="background-color: rgb(47, 64, 83); color: white;">
			  <tr>
				<th style="color: white;">Fecha de Pago</th>
				<th style="color: white;">Método de Pago</th>
				<th style="color: white;">Mes de Pago</th>
				<th style="color: white;">Total Cuota</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor="let aportacion of aportacionessocio">
				<td>{{ aportacion.fechaAportacion | date:'yyyy-MM-dd' }}</td>
				<td>{{ aportacion.metodoPago }}</td>
				<td>{{ getMonthName(aportacion.fechaAportacion | date:'MM') }}</td>
				<td>{{ aportacion.cuotasFinados + aportacion.otrasAportaciones | currency: 'USD':true:'1.2-2' }}</td>
			  </tr>
			</tbody>
		  </table>
		</div>
		<br>
		<div class="no-break">
		  <div style="margin-left: auto;">
			<p style="margin-bottom: 0;">
			  <i class="fas fa-coins"></i>
			  <span style="margin-right: 15px;">Aportaciones de <strong style="color: black; font-weight: 700;">{{ fechaInicio | date:'yyyy-MM-dd'}}</strong> 
				a <strong style="color: black; font-weight: 700;">{{ fechaFin | date:'yyyy-MM-dd'}}</strong>:</span>
			  <span>{{ costoTotal | currency: 'USD':true:'1.2-2' }}</span>
			</p>
		  </div>
		</div>
	  </div>

	  <div class="text-center mt-3">
		<button class="btn btn-danger" (click)="generatePDF()">
		  <i class="fa fa-download"></i> Descargar Reporte
		</button>
	  </div>
	</div>
  </div>
  