
<br>
<mat-card>
    <div class="row">
        <div class="row">
            <div class="col-6 mb-2">
                <mat-card-title>
                    Lista de Pagos
                </mat-card-title>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-card-content>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-8">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Filtro</mat-label>
                                        <input matInput (keyup)="aplicarFiltro($event)"  style="width: 100px;" placeholder="Ejemplo.. Bailon" #input>
                                    </mat-form-field>
                                </div>
                                <div class="col-4" style="margin-top: 18px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-primary" (click)="abrirDialogoNuevoAportacion()">Nuevo Pago</button>
                        </div>
                    </div>
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef> ID</th>
                            <td mat-cell *matCellDef="let fila"> {{fila.id}} </td>
                            </ng-container>

                            <ng-container matColumnDef="SOCIO">
                                <th mat-header-cell *matHeaderCellDef> Socio </th>
                                <td mat-cell *matCellDef="let fila"> {{fila.socio.nombre}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="FECHA PAGO">
                                <th mat-header-cell *matHeaderCellDef> Fecha de pago </th>
                                <td mat-cell *matCellDef="let fila"> {{fila.fechaAportacion | date:'yyyy-MM-dd HH:mm'}} </td>
                            </ng-container>
                              
                            <ng-container matColumnDef="CUOTA">
                                <th mat-header-cell *matHeaderCellDef> Couta </th>
                                <td mat-cell *matCellDef="let fila"> {{fila.cuotas}} </td>
                            </ng-container>

                            <ng-container matColumnDef="CUOTA FINADO">
                                <th mat-header-cell *matHeaderCellDef> Couta Finado </th>
                                <td mat-cell *matCellDef="let fila"> {{fila.cuotasFinados}} </td>
                            </ng-container>

                            <ng-container matColumnDef="OTRAS APORTACIONES">
                                <th mat-header-cell *matHeaderCellDef> Otras Aportaciones </th>
                                <td mat-cell *matCellDef="let fila"> {{fila.otrasAportaciones}} </td>
                            </ng-container>

                            
                            <ng-container matColumnDef="ESTADO DE PAGO">
                                <th mat-header-cell *matHeaderCellDef> Estado de pago </th>
                                <td mat-cell *matCellDef="let fila"> {{fila.estadoPago}} </td>
                            </ng-container>
                        
 
                            <ng-container matColumnDef="ACCIONES">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let fila">
                                    <a class="pointer iconosAccion" matTooltip="Editar Pago"><mat-icon class="success-icon">edit</mat-icon></a>
                                    <a class="pointer iconosAccion" matTooltip="Eliminar pago" (click)="eliminarAportacion(fila)">
                                        <mat-icon class="danger-icon">delete</mat-icon>
                                    </a>
                                    <a class="pointer iconosAccion" matTooltip="ver familiares" ><mat-icon class="primary-icon">group</mat-icon></a>
                                </td>
                                
                            </ng-container>
                        
                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                            aria-label="">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>
