<h1 mat-dialog-title style="font-weight: 500;">{{titulo}}</h1>

<form [formGroup]="socioForm">
    <div class="row mb-3">
        <!-- NOMBRES -->
        <div class="col-6">
            <input type="hidden" formControlName="id">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
                <mat-error *ngIf="isValidField('nombre')">
                    {{ getFieldError('nombre') }}
                </mat-error>
            </mat-form-field>
        </div>

        <!-- APELLIDOS -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="apellido">
                <mat-error *ngIf="isValidField('apellido')">
                    {{ getFieldError('apellido') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
        <!-- DOCUMENTO DE IDENTIDAD -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Cédula de ciudadanía</mat-label>
                <input matInput formControlName="documentoIdentidad" (keyup)="validardocumentoidentidad($event)">
                <mat-error *ngIf="isValidField('documentoIdentidad')">
                    {{ getFieldError('documentoIdentidad') }}
                </mat-error>
            </mat-form-field>
        </div>

        <!-- FECHA DE NACIMIENTO -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker"
                    (dateChange)="actualizarEdad($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="isValidField('fechaNacimiento')">
                    {{ getFieldError('fechaNacimiento') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
        <!-- CORREO  -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Correo Electrónico</mat-label>
                <input type="email" matInput formControlName="correoElectronico" (keyup)="validarcorreo($event)">
                <mat-error *ngIf="isValidField('correoElectronico')">
                    {{ getFieldError('correoElectronico') }}
                </mat-error>
            </mat-form-field>
        </div>

        <!-- DIRECCIÓN -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="direccion">
                <mat-error *ngIf="isValidField('direccion')">
                    {{ getFieldError('direccion') }}
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <div class="row">

                <!-- TELÉFONO -->
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono">
                        <mat-error *ngIf="isValidField('telefono')">
                            {{ getFieldError('telefono') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- EDAD -->
                <div class="col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Edad</mat-label>
                        <input type="number" matInput formControlName="edad">
                        <mat-error *ngIf="isValidField('edad')">
                            {{ getFieldError('edad') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div class="col-6">
            <div class="row">

                <!-- FECHA DE INSCRIPCION -->
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha Inscripción</mat-label>
                        <input matInput [matDatepicker]="dp" formControlName="FechaInscripcion" name="FechaInscripcion">
                        <mat-datepicker-toggle matSuffix [for]="dp">
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                        <mat-error *ngIf="isValidField('FechaInscripcion')">
                            {{ getFieldError('FechaInscripcion') }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- ESTADO -->
                <div class="col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="activo" name="activo">
                            <mat-option [value]=true>Activo</mat-option>
                            <mat-option [value]=false>Inactivo</mat-option>
                        </mat-select>
                        <mat-error *ngIf="isValidField('activo')">
                            {{ getFieldError('activo') }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <!-- ARCHIVO (solo en modo crear) -->
        <div class="col-6" *ngIf="modoCrear">
            <mat-label>Documento/Archivo</mat-label>
            <input #imagenInputFile type="file"
                accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                (change)="onFileSelected($event)" formControlName="archivo">

                <mat-error *ngIf="isValidField('archivo')">
                    {{ getFieldError('archivo') }}
                </mat-error>
        </div>

        <!-- Botón para descargar archivo (solo en modo editar) -->
        <div class="col-6" *ngIf="!modoCrear">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-start">Documento socio</h5>
                </div>
                <div class="col-6">
                    <!-- Botón para ver vista previa -->
                    <button (click)="verVistaPrevia()" class="archivo-link">
                        <i class="far fa-eye archivo-icon"></i> <!-- Icono de ojo para vista previa -->
                        Ver Vista Previa
                    </button>
                </div>
                <div class="col-6">
                    <!-- Botón para descargar archivo -->
                    <button (click)="descargarArchivo()" class="archivo-link">
                        <i class="fa-solid fa-download"></i><!-- Icono de descarga -->
                        Descargar Archivo
                    </button>
                </div>
            </div>
        </div>


    </div>

    <!-- Botones -->
    <div class="row mb-2">
        <div class="col text-end">
            <button class="btn btn-secondary m-2" mat-dialog-close>Cancelar</button>
            <button class="btn btn-primary" type="submit" (click)="guardarSocio()"
                [disabled]="socioForm.invalid">{{tituloBoton}}</button>
        </div>
    </div>
</form>
