<h1 mat-dialog-title style="font-weight: 500;">{{titulo}}</h1>

<form [formGroup]="socioForm">
    <div class="row mb-3">
        <!-- NOMBRES -->
        <div class="col-6">
            <input type="hidden" formControlName="id">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
                <mat-error class="mensaje" *ngIf="socioForm.get('nombre')?.invalid && 
                socioForm.get('nombre')?.errors && 
                (socioForm.get('nombre')?.dirty || socioForm.get('nombre')?.touched)">
                    <small class="text-danger" *ngIf="socioForm.get('nombre')?.hasError('required')">
                        El campo nombre es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- APELLIDOS -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="apellido">
                <mat-error class="mensaje" *ngIf="socioForm.get('apellido')?.invalid && 
                socioForm.get('apellido')?.errors && 
                (socioForm.get('apellido')?.dirty || socioForm.get('apellido')?.touched)">
                    <small class="text-danger" *ngIf="socioForm.get('apellido')?.hasError('required')">
                        El campo apellido es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
        <!-- DOCUMENTO DE IDENTIDAD -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Cédula de ciudadanía</mat-label>
                <input matInput formControlName="documentoIdentidad">
                <mat-error class="mensaje" *ngIf="socioForm.get('documentoIdentidad')?.invalid && 
                socioForm.get('documentoIdentidad')?.errors && 
                (socioForm.get('documentoIdentidad')?.dirty || socioForm.get('documentoIdentidad')?.touched)">
                    <small class="text-danger" *ngIf="socioForm.get('documentoIdentidad')?.hasError('required')">
                        El campo C. I. es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- FECHA DE NACIMIENTO -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker"
                    (dateChange)="actualizarEdad($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error class="mensaje" *ngIf="socioForm.get('fechaNacimiento')?.invalid && 
                socioForm.get('fechaNacimiento')?.errors && 
                (socioForm.get('fechaNacimiento')?.dirty || socioForm.get('fechaNacimiento')?.touched)">
                    <small class="text-danger" *ngIf="socioForm.get('fechaNacimiento')?.hasError('required')">
                        El campo fecha nacimiento es requerido
                    </small>
                    <small class="text-danger" *ngIf="socioForm.get('fechaNacimiento')?.hasError('edadInvalida')">
                        Debes ser mayor de 18 años para registrarte.
                    </small>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
        <!-- CORREO  -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Correo Electrónico</mat-label>
                <input type="email" matInput formControlName="correoElectronico">
                <mat-error class="mensaje" *ngIf="socioForm.get('correoElectronico')?.invalid && 
                socioForm.get('correoElectronico')?.errors && 
                (socioForm.get('correoElectronico')?.dirty || socioForm.get('correoElectronico')?.touched)">
                    <small class="text-danger" *ngIf="socioForm.get('correoElectronico')?.hasError('required')">
                        El campo correo electrónico es requerido
                    </small>
                    <small class="text-danger" *ngIf="socioForm.get('correoElectronico')?.hasError('email')">
                        El formato del correo no es válido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>

        <!-- DIRECCIÓN -->
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="direccion">
                <mat-error class="mensaje" *ngIf="socioForm.get('direccion')?.invalid && 
                socioForm.get('direccion')?.errors && 
                (socioForm.get('direccion')?.dirty || socioForm.get('direccion')?.touched)">
                    <small class="text-danger" *ngIf="socioForm.get('direccion')?.hasError('required')">
                        El campo dirección es requerido
                    </small>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-6">
            <div class="row">

                <!-- TELÉFONO -->
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="telefono">
                        <mat-error class="mensaje" *ngIf="socioForm.get('telefono')?.invalid && 
                        socioForm.get('telefono')?.errors && 
                        (socioForm.get('telefono')?.dirty || socioForm.get('telefono')?.touched)">
                            <small class="text-danger" *ngIf="socioForm.get('telefono')?.hasError('required')">
                                El campo teléfono es requerido
                            </small>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- EDAD -->
                <div class="col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Edad</mat-label>
                        <input type="number" matInput formControlName="edad">
                        <mat-error class="mensaje" *ngIf="socioForm.get('edad')?.invalid && 
                        socioForm.get('edad')?.errors && 
                        (socioForm.get('edad')?.dirty || socioForm.get('edad')?.touched)">
                            <small class="text-danger" *ngIf="socioForm.get('edad')?.hasError('required')">
                                El campo edad es requerido
                            </small>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div class="col-6">
            <div class="row">

                <!-- FECHA DE INSCRIPCION -->
                <div class="col-7">
                    <mat-form-field appearance="fill">
                        <mat-label>Fecha Inscripción</mat-label>
                        <input matInput [matDatepicker]="dp" formControlName="FechaInscripcion" name="FechaInscripcion">
                        <mat-datepicker-toggle matSuffix [for]="dp">
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp></mat-datepicker>
                        <mat-error class="mensaje" *ngIf="socioForm.get('FechaInscripcion')?.invalid && 
                        socioForm.get('FechaInscripcion')?.errors && 
                        (socioForm.get('FechaInscripcion')?.dirty || socioForm.get('FechaInscripcion')?.touched)">
                            <small class="text-danger" *ngIf="socioForm.get('FechaInscripcion')?.hasError('required')">
                                El campo fecha de inscripción es requerido
                            </small>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- ESTADO -->
                <div class="col-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="activo" name="activo">
                            <mat-option [value]=true>Activo</mat-option>
                            <mat-option [value]=false>Inactivo</mat-option>
                        </mat-select>
                        <mat-error class="mensaje" *ngIf="socioForm.get('activo')?.invalid && 
                        socioForm.get('activo')?.errors && 
                        (socioForm.get('activo')?.dirty || socioForm.get('activo')?.touched)">
                            <small class="text-danger" *ngIf="socioForm.get('activo')?.hasError('required')">
                                El campo estado es requerido
                            </small>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <!-- ARCHIVO (solo en modo crear) -->
        <div class="col-6" *ngIf="modoCrear">
            <mat-label>Documento/Archivo</mat-label>
            <input #imagenInputFile type="file"
                accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                (change)="onFileSelected($event)" formControlName="archivo">
            <mat-error class="mensaje" *ngIf="socioForm.get('archivo')?.invalid && 
                socioForm.get('archivo')?.errors && 
                (socioForm.get('archivo')?.dirty || socioForm.get('archivo')?.touched)">
                <small class="text-danger" *ngIf="socioForm.get('archivo')?.hasError('required')">
                    El campo documento/archivo es requerido
                </small>
            </mat-error>
        </div>

        <!-- Botón para descargar archivo (solo en modo editar) -->
        <div class="col-6" *ngIf="!modoCrear">
            <div class="row">
                <div class="col-12">
                    <h5 class="text-center">Documento Socio</h5>
                </div>
                <div class="col-6">
                    <!-- Botón para ver vista previa -->
                    <button (click)="verVistaPrevia()" class="archivo-link">
                        <i class="far fa-eye archivo-icon"></i> <!-- Icono de ojo para vista previa -->
                        Ver Vista Previa
                    </button>
                </div>
                <div class="col-6">
                    <!-- Botón para descargar archivo -->
                    <button (click)="descargarArchivo()" class="archivo-link">
                        <i class="fa-solid fa-download"></i><!-- Icono de descarga -->
                        Descargar Archivo
                    </button>
                </div>
            </div>
        </div>
        
        
    </div>


    <!-- Botones -->
    <div class="row mb-2">
        <div class="col text-end">
            <button class="btn btn-secondary m-2" mat-dialog-close>Cancelar</button>
            <button class="btn btn-primary" type="submit" (click)="guardarSocio()"
                [disabled]="socioForm.invalid">{{tituloBoton}}</button>
        </div>
    </div>
</form>