
<h1 mat-dialog-title style="font-weight: 500;" >{{titulo}}</h1>

<form [formGroup]="usuarioForm"> 
    
    <div class="row mb-2">
        <!-- NOMBRES -->
        <div class="col-6">
            <input type="hidden" formControlName="id">
            <mat-form-field  appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombreUsuario">
            <mat-error class="mensaje" *ngIf="usuarioForm.get('nombreUsuario')?.invalid && 
            usuarioForm.get('nombreUsuario')?.errors && 
            (usuarioForm.get('nombreUsuario')?.dirty || usuarioForm.get('nombreUsuario')?.touched)">
                <small class="text-danger"
                *ngIf="usuarioForm.get('nombreUsuario')?.hasError('required')">
                El campo nombre es requerido
                </small>
            </mat-error>
        </mat-form-field>
        </div>

         <!-- ESTADO -->
         <div class="col-6">
            <div class="row">
                <div class="col" >
                    <mat-form-field  appearance="fill" >
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="tipoUsuario" value="Activo">
                            <mat-option value=ADMINISTRADOR>Administrador</mat-option>
                            <mat-option value=TESORERO>Tesorero</mat-option>
                            <mat-option value=OTROS>Otros</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    

    <!-- CORREO -->
    <div class="row mb-2">
        <mat-form-field  appearance="fill">
            <mat-label>Correo</mat-label>
            <input type="email" formControlName="correoElectronico" matInput placeholder="admin@idat.com" (keyup)="validarcorreo($event)">
            <mat-error class="mensaje" *ngIf="usuarioForm.get('correoElectronico')?.invalid && 
            usuarioForm.get('correoElectronico')?.errors && 
            (usuarioForm.get('correoElectronico')?.dirty || usuarioForm.get('correoElectronico')?.touched)">
            <mat-error *ngIf="usuarioForm.get('correoElectronico')?.hasError('required')">Campo correo es requerido</mat-error>
            <mat-error  *ngIf="usuarioForm.get('correoElectronico')?.hasError('email')">Campo correo no tiene el formato</mat-error>               
            <mat-error  *ngIf="usuarioForm.get('correoElectronico')?.hasError('invalid')">Correo ya se encuentra registrado</mat-error>               
        </mat-error>
        </mat-form-field>
    </div>
    
   
    <div class="row mb-2">

         <!-- CONTRASEÑA -->
        <div class="col-6">
            <mat-form-field  appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password"  formControlName="contrasena" matInput>
                <mat-error class="mensaje" *ngIf="usuarioForm.get('contrasena')?.invalid && 
                usuarioForm.get('contrasena')?.errors && 
                (usuarioForm.get('contrasena')?.dirty || usuarioForm.get('contrasena')?.touched)">
                <mat-error *ngIf="usuarioForm.get('contrasena')?.hasError('required')">Campo contraseña es requerido</mat-error>
                <mat-error  *ngIf="usuarioForm.get('contrasena')?.hasError('minlength')">Campo minimo 5 digitos</mat-error>                 
                </mat-error>
            </mat-form-field>
        </div>

         <!-- ESTADO -->
        <div class="col-6">
            <div class="row">
                <div class="col" >
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="activo">
                          <mat-option [value]=true>Activo</mat-option>
                          <mat-option [value]=false>Inactivo</mat-option>
                        </mat-select>
                      </mat-form-field>                      
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col text-end">
            <button class="btn btn-secondary m-2" mat-dialog-close>Cancelar</button>
            <button class="btn btn-primary" type="submit" (click)="guardarUsuario()" [disabled]="usuarioForm.invalid">{{tituloBoton}}</button>
        </div>
    </div> 

</form>






  
  


