
<h1 mat-dialog-title style="font-weight: 500;" >{{titulo}}</h1>

<form [formGroup]="usuarioForm"> 
    
    <div class="row mb-2">
        <!-- NOMBRES -->
        <div class="col-6">
            <input type="hidden" formControlName="id">
            <mat-form-field  appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombreUsuario">
                <mat-error *ngIf="isValidField('nombreUsuario')">
                    {{ getFieldError('nombreUsuario') }}
                </mat-error>
        </mat-form-field>
        </div>

         <!-- ESTADO -->
         <div class="col-6">
            <div class="row">
                <div class="col" >
                    <mat-form-field  appearance="fill" >
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="tipoUsuario" value="Activo">
                            <mat-option value=ADMINISTRADOR>Administrador</mat-option>
                            <mat-option value=TESORERO>Tesorero</mat-option>
                            <mat-option value=OTROS>Otros</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    

    <!-- CORREO -->
    <div class="row mb-2">
        <mat-form-field  appearance="fill">
            <mat-label>Correo</mat-label>
            <input type="email" formControlName="correoElectronico" matInput placeholder="admin@idat.com" (keyup)="validarcorreo($event)">
            <mat-error *ngIf="isValidField('correoElectronico')">
                {{ getFieldError('correoElectronico') }}
            </mat-error>
        </mat-form-field>
    </div>
    
   
    <div class="row mb-2">

         <!-- CONTRASEÑA -->
        <div class="col-6">
            <mat-form-field  appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password"  formControlName="contrasena" matInput>
                <mat-error *ngIf="isValidField('contrasena')">
                    {{ getFieldError('contrasena') }}
                </mat-error>
            </mat-form-field>
        </div>

         <!-- ESTADO -->
        <div class="col-6">
            <div class="row">
                <div class="col" >
                    <mat-form-field appearance="fill">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="activo">
                          <mat-option [value]=true>Activo</mat-option>
                          <mat-option [value]=false>Inactivo</mat-option>
                        </mat-select>
                      </mat-form-field>                      
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col text-end">
            <button class="btn btn-secondary m-2" mat-dialog-close>Cancelar</button>
            <button class="btn btn-primary" type="submit" (click)="guardarUsuario()" [disabled]="usuarioForm.invalid">{{tituloBoton}}</button>
        </div>
    </div> 

</form>






  
  


