<mat-tab-group #tabGroup class="invisible-tabs">
    <!-- Tabla de familiares -->
    <mat-tab label=" ">
      <mat-card>
          <div class="row">
              <div class="row">
                  <div class="col-6 mb-2">
                      <mat-card-title>
                          Lista de Familiares
                      </mat-card-title>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <mat-card-content>
                          <div class="row">
                              <div class="col-6">
                                  <div class="row">
                                      <div class="col-8">
                                          <mat-form-field style="width: 100%;">
                                              <mat-label>Filtro</mat-label>
                                              <input matInput (keyup)="aplicarFiltro($event)"  style="width: 100px;" placeholder="Ejemplo.. xxxxx" #input>
                                          </mat-form-field>
                                      </div>
                                      <div class="col-4" style="margin-top: 18px;">
                                          <!-- <mat-checkbox color="primary" class="example-margin" [(ngModel)]="estadoFiltro" (click)="mostrarInactivos()">Mostrar Inactivos</mat-checkbox> -->
                                      </div>
                                  </div>
                              </div>
                              <div class="col-6 text-end">
                                  <button class="btn btn-primary" (click)="nuevoFamiliarForm()">Nuevo Familiar</button>
                              </div>
                          </div>
                          <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource">


                                  <ng-container matColumnDef="NOMBRE">
                                      <th mat-header-cell *matHeaderCellDef> Nombres </th>
                                      <td mat-cell *matCellDef="let fila"> {{fila.nombre}} {{fila.apellido}} </td>
                                  </ng-container>


                                  <ng-container matColumnDef="CEDULA">
                                      <th mat-header-cell *matHeaderCellDef> Cedula </th>
                                      <td mat-cell *matCellDef="let fila"> {{fila.documentoIdentidad}} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="PARENTESCO">
                                      <th mat-header-cell *matHeaderCellDef> Parentesco </th>
                                      <td mat-cell *matCellDef="let fila"> {{fila.tipoParentesco}} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="ACCIONES">
                                      <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                      <td mat-cell *matCellDef="let fila">
                                          <a class="pointer iconosAccion" matTooltip="Editar familiar" (click)="editarFamiliar(fila)"><mat-icon class="success-icon">edit</mat-icon></a>
                                          <a class="pointer iconosAccion" matTooltip="Eliminar familiar" (click)="eliminarFamiliar(fila)">
                                              <mat-icon class="danger-icon">delete</mat-icon>
                                          </a>
                                      </td>

                                  </ng-container>

                                  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                              </table>
                              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                  aria-label="">
                              </mat-paginator>
                          </div>
                      </mat-card-content>
                  </div>
              </div>
          </div>
      </mat-card>
    </mat-tab>

    <!-- Agregar o editar Familiar -->
    <mat-tab label=" ">
      <h1 mat-dialog-title style="font-weight: 500;">{{titulo}}</h1>
      <form [formGroup]="familiaForm">
          <div class="row mb-3">
              <!-- NOMBRES -->
              <div class="col-6">
                  <input type="hidden" formControlName="id">
                  <mat-form-field appearance="fill">
                      <mat-label>Nombre</mat-label>
                      <input matInput formControlName="nombre">
                      <mat-error class="mensaje" *ngIf="familiaForm.get('nombre')?.invalid &&
                      familiaForm.get('nombre')?.errors &&
                      (familiaForm.get('nombre')?.dirty || familiaForm.get('nombre')?.touched)">
                          <small class="text-danger" *ngIf="familiaForm.get('nombre')?.hasError('required')">
                              El campo nombre es requerido
                          </small>
                      </mat-error>
                  </mat-form-field>
              </div>

              <!-- APELLIDOS -->
              <div class="col-6">
                  <mat-form-field appearance="fill">
                      <mat-label>Apellidos</mat-label>
                      <input matInput formControlName="apellido">
                      <mat-error class="mensaje" *ngIf="familiaForm.get('apellido')?.invalid &&
                      familiaForm.get('apellido')?.errors &&
                      (familiaForm.get('apellido')?.dirty || familiaForm.get('apellido')?.touched)">
                          <small class="text-danger" *ngIf="familiaForm.get('apellido')?.hasError('required')">
                              El campo apellido es requerido
                          </small>
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>

          <div class="row mb-3">
              <!-- DOCUMENTO DE IDENTIDAD -->
              <div class="col-6">
                  <mat-form-field appearance="fill">
                      <mat-label>Cédula de ciudadanía</mat-label>
                      <input matInput formControlName="documentoIdentidad" (keyup)="validardocumentoidentidad($event)">
                      <mat-error class="mensaje" *ngIf="familiaForm.get('documentoIdentidad')?.invalid &&
                      familiaForm.get('documentoIdentidad')?.errors &&
                      (familiaForm.get('documentoIdentidad')?.dirty || familiaForm.get('documentoIdentidad')?.touched)">
                          <small class="text-danger" *ngIf="familiaForm.get('documentoIdentidad')?.hasError('required')">
                              El campo C. I. es requerido
                          </small>
                          <small class="text-danger" *ngIf="familiaForm.get('documentoIdentidad')?.hasError('invalid')">
                            Cedula ya se  encuentra registrado .
                        </small>
                      </mat-error>
                  </mat-form-field>
              </div>

              <!-- FECHA DE NACIMIENTO -->
              <div class="col-6">
                  <mat-form-field appearance="fill">
                      <mat-label>Fecha de Nacimiento</mat-label>
                      <input matInput formControlName="fechaNacimiento" [matDatepicker]="picker"
                          (dateChange)="actualizarEdad($event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error class="mensaje" *ngIf="familiaForm.get('fechaNacimiento')?.invalid &&
                      familiaForm.get('fechaNacimiento')?.errors &&
                      (familiaForm.get('fechaNacimiento')?.dirty || familiaForm.get('fechaNacimiento')?.touched)">
                          <small class="text-danger" *ngIf="familiaForm.get('fechaNacimiento')?.hasError('required')">
                              El campo fecha nacimiento es requerido
                          </small>
                          <!-- <small class="text-danger" *ngIf="familiaForm.get('fechaNacimiento')?.hasError('edadInvalida')">
                              Debes ser mayor de 18 años para registrarte.
                          </small> -->
                      </mat-error>
                  </mat-form-field>
              </div>
          </div>

          <div class="row mb-3">
              <!-- CORREO  -->
              <div class="col-6">
                <div class="row">

                    <!-- TELÉFONO -->
                    <div class="col-7">
                        <mat-form-field appearance="fill">
                            <mat-label>Teléfono</mat-label>
                            <input matInput formControlName="telefono">
                        </mat-form-field>
                    </div>

                    <!-- EDAD -->
                    <div class="col-5">
                        <mat-form-field appearance="fill">
                            <mat-label>Edad</mat-label>
                            <input type="number" matInput formControlName="edad">
                            <mat-error class="mensaje" *ngIf="familiaForm.get('edad')?.invalid &&
                            familiaForm.get('edad')?.errors &&
                            (familiaForm.get('edad')?.dirty || familiaForm.get('edad')?.touched)">
                                <small class="text-danger" *ngIf="familiaForm.get('edad')?.hasError('required')">
                                    El campo edad es requerido
                                </small>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
              </div>

              <!-- DIRECCIÓN -->
              <div class="col-6">
                  <mat-form-field appearance="fill">
                      <mat-label>Dirección</mat-label>
                      <input matInput formControlName="direccion">
                  </mat-form-field>
              </div>
          </div>

          <div class="row mb-3">

              <!-- ARCHIVO (solo en modo crear) -->
              <div class="col-6" *ngIf="modoCrear">
                  <mat-label>Documento/Archivo</mat-label>
                  <input #imagenInputFile type="file"
                      accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                      (change)="onFileSelected($event)" formControlName="archivo">
                  <mat-error class="mensaje" *ngIf="familiaForm.get('archivo')?.invalid &&
                      familiaForm.get('archivo')?.errors &&
                      (familiaForm.get('archivo')?.dirty || familiaForm.get('archivo')?.touched)">
                      <small class="text-danger" *ngIf="familiaForm.get('archivo')?.hasError('required')">
                          El campo documento/archivo es requerido
                      </small>
                  </mat-error>
              </div>

              <!-- Botón para descargar archivo (solo en modo editar) -->
              <div class="col-6" *ngIf="!modoCrear">
                  <div class="row">
                      <div class="col-12">
                          <h5 class="text-center">Documento Familiar</h5>
                      </div>
                      <div class="col-6">
                          <!-- Botón para ver vista previa -->
                          <button (click)="verVistaPrevia()" class="archivo-link">
                              <i class="far fa-eye archivo-icon"></i> <!-- Icono de ojo para vista previa -->
                              Ver Vista Previa
                          </button>
                      </div>
                      <div class="col-6">
                          <!-- Botón para descargar archivo -->
                          <button (click)="descargarArchivo()" class="archivo-link">
                              <i class="fa-solid fa-download"></i><!-- Icono de descarga -->
                              Descargar Archivo
                          </button>
                      </div>
                  </div>
              </div>


              <div class="col-6">
                  <div class="row">

                      <!-- PARENTESCO -->
                      <div class="col-7">
                          <mat-form-field appearance="fill">
                            <mat-label>Parentesco</mat-label>
                            <mat-select formControlName="tipoParentesco" name="tipoParentesco">
                                <mat-option value='Esposa(o)'>Esposa(o)</mat-option>
                                <mat-option value='Hija(o)'>Hija(o)</mat-option>
                                <mat-option value='Carga(a)'>Carga</mat-option>
                            </mat-select>
                            <mat-error class="mensaje" *ngIf="familiaForm.get('tipoParentesco')?.invalid &&
                            familiaForm.get('tipoParentesco')?.errors &&
                            (familiaForm.get('tipoParentesco')?.dirty || familiaForm.get('tipoParentesco')?.touched)">
                                <small class="text-danger" *ngIf="familiaForm.get('tipoParentesco')?.hasError('required')">
                                    El campo parentesco es requerido
                                </small>
                            </mat-error>
                        </mat-form-field>
                      </div>

                      <!-- ESTADO -->
                      <div class="col-5">

                      </div>
                  </div>
              </div>
          </div>

          <!-- Botones -->
          <div class="row mb-2">
              <div class="col text-end">
                  <button class="btn btn-secondary m-2"  type="submit"  (click)="resetearFormulario()">Cancelar</button>
                  <button class="btn btn-primary" type="submit" (click)="guardarFamiliar()"
                      [disabled]="familiaForm.invalid">{{tituloBoton}}</button>
              </div>
          </div>
      </form>
    </mat-tab>
  </mat-tab-group>
